{% extends 'dashboard/dashboard-base.html' %}
{% load static %}
{% block content %}

    <!-- 
=============================================
Dashboard Body
============================================== 
-->

    <h2 class="main-title d-block d-lg-none">Add New Property</h2>
    <form method="POST">
        <div class="bg-white card-box border-20">
            <h4 class="dash-title-three">Add Credit</h4>
            {{ form.errors }}
            {% csrf_token %}
            <div class="dash-input-wrapper mb-30">
                <label for="">Bank Name*</label>
                {{ form.bank_name }}
                {{ form.bank_name.errors }}
            </div>
            <!-- /.dash-input-wrapper -->
            <div class="dash-input-wrapper mb-30">
                <label for="">Credit Notes</label>
                {{ form.credit_description }}
                {{ form.credit_description.errors }}

            </div>
            <!-- /.dash-input-wrapper -->
            <div class="row align-items-end">
                <div class="col-md-3">
                    <div class="dash-input-wrapper mb-30">
                        <label for="">Credit Amount</label>
                        {{ form.credit_amount }}
                        {{ form.credit_amount.errors }}
                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>
                <div class="col-md-2">
                    <div class="dash-input-wrapper mb-60">
                        <label for="">Interest Rate</label>
                        {{ form.credit_interest }}
                        {{ form.credit_interest.errors }}
                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>
                <div class="col-md-3">
                    <div class="dash-input-wrapper mb-30">
                        <label for="">Monthly Payment</label>
                        {{ form.monthly_payment }}
                        {{ form.monthly_payment.errors }}
                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>
                <div class="col-md-3">
                    <div class="dash-input-wrapper mb-60">
                        <label for="">Credit Type</label>
                        {{ form.credit_type }}
                        {{ form.type.errors }}
                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>
                <div class="col-md-3">
                    <div class="dash-input-wrapper mb-30">
                        <label for="">Credit Start Date</label>
                        {{ form.credit_start_date }}
                        {{ form.credit_start_date.errors }}
                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>
                <div class="col-md-3">
                    <div class="dash-input-wrapper mb-30">
                        <label for="">Credit End Date</label>
                        {{ form.credit_term }}
                        {{ form.credit_term.errors }}
                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>
            </div>
            <!-- /.card-box -->
        </div>
        <!-- /.card-box -->
        <div class="button-group d-inline-flex align-items-center mt-30">
            <button type="submit" class="dash-btn-two tran3s me-3">Submit Credit</button>
            <a href="{% url 'dashboard_credits' %}" class="dash-cancel-btn tran3s">Cancel</a>
        </div>
    </form>
    <!-- /.dashboard-body -->


{% endblock %}