{% extends 'common/base.html' %}
{% load static %}
{% load i18n %}
{% load socialaccount %}

{% block content %}
    <body>
    <div class="main-page-wrapper">

        {% include 'common/navbar.html' %}


        <!-- 
=============================================
Login Page
============================================== 
-->
        <div class="error-section position-relative z-1 bg-pink">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-8 col-xl-6 col-lg-7 col-md-8 m-auto">


                        <div class="container mt-5">
                                <div class="bg-white rounded shadow p-5">

                            <h2>{% trans "Reset Your Password" %}</h2>
                            <p>{% trans "Enter the email address you used to sign up, and we'll send you a link to reset your password." %}</p>

                            <form action="{% url 'account_reset_password' %}" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary">{% trans "Reset Password" %}</button>
                            </form>
                        </div>

                        {% include 'common/ajax-login.html' %}    
                        
                        
                        
                        <!-- /.title-one -->
                    </div>
                </div>
                </div>
            </div>
            <img src={% static "images/lazy.svg" %} data-src={% static "images/assets/ils_08.svg" %} alt=""
                 class="lazy-img w-100 position-absolute bottom-0 start-0 z-n1">
        </div>
    </div>
    <!-- /.error-section -->

{% endblock %}