{% extends 'dashboard/dashboard-base.html' %}
{% load static %}
{% load template_tags %}
{% block content %}

    <!-- 
=============================================
Dashboard Body
============================================== 
-->

    <h2 class="main-title d-block d-lg-none">Add New Property</h2>
    <form method="post" action="{% url 'add_property' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="bg-white card-box border-20">
            <h4 class="dash-title-three">Overview</h4>
            <div class="dash-input-wrapper mb-30">
                <label for="">Property Title*</label>
                {{ property_form.property_name }}
                <div class="error-message">{{ property_form.title.errors }}</div>
            </div>
            <!-- /.dash-input-wrapper -->
            <div class="dash-input-wrapper mb-30">
                <label for="">Description</label>
                {{ property_form.property_description }}
                <div class="error-message">{{ property_form.description.errors }}</div>

            </div>
            <!-- /.dash-input-wrapper -->
            <div class="row align-items-end">
                <div class="col-md-6">
                    <div class="dash-input-wrapper mb-30">
                        <label for="">Category</label>
                        <select name="property_type" class="nice-select">
                            {% for type in  property_form.property_type %}
                                <option value="{{ type.id }}">{{ type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>
                <div class="col-md-6">
                    <div class="dash-input-wrapper mb-30">
                        <label for="">Property Condition</label>
                        <select name="property_condition" class="nice-select">
                            {% for condition in  property_form.property_condition %}
                                <option>{{ condition }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>
                <div class="col-md-6">
                    <div class="dash-input-wrapper mb-30">
                        <label for="">Initial Price</label>
                        {{ property_financial_information_form.initial_price | add_class:'form-control' }}
                        <div class="error-message">{{ property_financial_information_form.initial_price.errors }}</div>

                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>
                <div class="col-md-6">
                    <div class="dash-input-wrapper mb-30">
                        <label for="">Expected Expenses</label>
                        {{ expense_form.expected_expenses  | add_class:'form-control' }}
                        <div class="error-message">{{ expense_form.expected_expenses.errors }}</div>

                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>

                <div class="col-md-6">
                    <div class="dash-input-wrapper mb-30">
                        <label for="">Bought Date</label>
                        {{ property_form.bought_date }}
                    </div>

                    <!-- /.dash-input-wrapper -->
                </div>

                <!-- /.dash-input-wrapper -->
            </div>
        </div>
        <!-- /.card-box -->
        <div class="bg-white card-box border-20 mt-40">
            <h4 class="dash-title-three">Property Details</h4>
            <div class="row align-items-end">
                <div class="col-md-6">
                    <div class="dash-input-wrapper mb-30">
                        <label for="">Property size*</label>
                        {{ property_form.property_size }}
                        <div class="error-message">{{ property_form.property_size.errors }}</div>

                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>
                <div class="col-md-6">
                    <div class="dash-input-wrapper mb-30">
                        <label for="">Bedrooms</label>
                        {{ property_form.bedrooms }}
                        <div class="error-message">{{ property_form.bedrooms.errors }}</div>

                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>
                <div class="col-md-6">
                    <div class="dash-input-wrapper mb-30">
                        <label for="">Bathrooms</label>
                        {{ property_form.bathrooms }}
                        <div class="error-message">{{ property_form.bathrooms.errors }}</div>
                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>

                <div class="col-md-6">
                    <div class="dash-input-wrapper mb-30">
                        <label for="">Building Year</label>
                        {{ property_form.year_of_built }}
                        <div class="error-message">{{ property_form.year_of_built.errors }}</div>
                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>
                <div class="col-md-6">
                    <div class="dash-input-wrapper mb-30">
                        <label for="">Floor</label>
                        {{ property_form.floor }}
                        <div class="error-message">{{ property_form.floor.errors }}</div>
                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>
                <div class="col-12">
                    <div class="dash-input-wrapper">
                        <label for="">Notes</label>
                        {{ property_form.notes }}
                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>
            </div>
        </div>
        <!-- /.card-box -->

        <div class="bg-white card-box border-20 mt-40">
            <h4 class="dash-title-three">Address & Location</h4>
            <div class="row">
                <div class="col-12">
                    <div class="dash-input-wrapper mb-25">
                        <label for="">Address</label>
                        {{ property_form.address }}
                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>
                <div class="col-lg-6">
                    <div class="dash-input-wrapper mb-25">
                        <label for="">Country</label>
                        {{ property_form.country }}

                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>
                <div class="col-lg-6">
                    <div class="dash-input-wrapper mb-25">
                        <label for="">City</label>
                        {{ property_form.city }}


                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>

                <!-- /.dash-input-wrapper -->
            </div>
        </div>

        <!-- /.card-box -->
        <div class="button-group d-inline-flex align-items-center mt-30">
            <button type="submit" class="dash-btn-two tran3s me-3">Submit Property</button>
            <a href="{% url 'dashboard_properties' %}" class="dash-cancel-btn tran3s">Cancel</a>
        </div>
    </form>

    <!-- /.dashboard-body -->


{% endblock %}