{% extends 'dashboard/dashboard-base.html' %}
{% load static %}
{% block content %}
{% load account %}
<!-- 
=============================================
Dashboard Body
============================================== 
-->

    <h2 class="main-title d-block d-lg-none">My Properties</h2>
    <div class="d-sm-flex align-items-center justify-content-between mb-25">
        <div class="fs-16">Showing <span class="color-dark fw-500">{{ properties.start_index }}–{{ properties.end_index }}</span> of <span
                class="color-dark fw-500">{{ properties.paginator.count }}</span> results
        </div>
        <div class="d-flex ms-auto xs-mt-30">
            <div class="short-filter d-flex align-items-center ms-sm-auto">
                <div class="fs-16 me-2">Short by:</div>
<form method="get">
                    <div class="d-flex ms-auto xs-mt-30">
                        <div class="short-filter d-flex align-items-center ms-sm-auto">
                            <div class="fs-16 me-2">Sort by:</div>
                            {{ filter.form.sort }}
                            <button type="submit" class="btn btn-primary ms-2">Apply</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="bg-white card-box p0 border-20">
        <div class="table-responsive pt-25 pb-25 pe-4 ps-4">
            <table class="table property-list-table">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Date</th>
                    <th scope="col">Credited Amount</th>
                    <th scope="col">Status</th>
                    <th scope="col">Expected Expenses</th>
                    <th scope="col">Currents Expenses</th>


                    <th scope="col">Action</th>

                </tr>
                </thead>
                <tbody class="border-0">
                {% for property in properties %}
                    <tr>
                        <td>
                            <div class="d-lg-flex align-items-center position-relative">

                                <div class="ps-lg-4 md-pt-10">
                                    <a href="{% url 'property_details' pk=property.pk %}"
                                       class="property-name tran3s color-dark fw-500 fs-20 stretched-link">{{ property.property_name }}</a>
                                    <div class="address">{{ property.country }}, {{ property.city }}, {{ property.address }}</div>
                                    <strong class="price">{{ property.property_financial_information.values_list.0.1 }} {{ property.property_financial_information.values_list.0.2 }}</strong>
                                </div>
                            </div>
                        </td>
                        <td>{{ property.bought_date | date:"d-m-Y" }}</td>
                        <td><strong class="price">{{ property.property_financial_information.values_list.0.7 }} {{ property.property_financial_information.values_list.0.8 }}</strong></td>
                        <td>
                            <div class="property-status">{{ property.property_condition }}</div>
                        </td>
                        <td>
                            <div class="price">{{ property.property_expenses.values_list.0.17 }} {{ property.property_expenses.values_list.0.18 }}</div>
                        </td>

                        <td>
                            {% for expense in property.property_expenses.all %}
                                <div class="price"> EUR {{ expense.actual_expenses | default:"0" }}</div>
                            {% endfor %}
                        </td>

                        <td>
                            <div class="action-dots float-end">
                                <button class="action-btn dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    <span></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="{% url 'property_details' pk=property.pk %}"><img src="{% static '/images/lazy.svg' %}"
                                            data-src="{% static '/dash/images/icon/icon_18.svg' %}"
                                            alt="" class="lazy-img"> View</a>
                                    </li>

                                    <li><a class="dropdown-item" href="{% url 'add_expense' pk=property.property_expenses.all.0.id %}"><img
                                            src="{% static '/images/lazy.svg' %}"
                                            data-src="{% static '/dash/images/icon/icon_20.svg' %}"
                                            alt="" class="lazy-img">
                                        Property Expenses</a></li>
                                    <li><a class="dropdown-item" href="{% url 'edit_property' pk=property.pk %}"><img src="{% static '/images/lazy.svg' %}"
                                            data-src="{% static '/dash/images/icon/icon_20.svg' %}"
                                            alt="" class="lazy-img"> Edit</a>
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'create_offer' property.id %}"><img src="{% static '/images/lazy.svg' %}"
                                            data-src="{% static '/dash/images/icon/icon_20.svg' %}"
                                            alt="" class="lazy-img">
                                        Create Offer</a></li>
                                    <li><a class="dropdown-item" href="{% url 'delete_property' pk=property.pk %}"><img src="{% static '/images/lazy.svg' %}"
                                            data-src="{% static '/dash/images/icon/icon_21.svg' %}"
                                            alt="" class="lazy-img">
                                        Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>
            <!-- /.table property-list-table -->
        </div>
    </div>
    <!-- /.card-box -->


    <ul class="pagination-one d-flex align-items-center justify-content-center style-none pt-40">
        {% if properties.has_previous %}
            <li class="ms-2"><a  href="?page=1" class="d-flex align-items-center">First</a></li>

            <li class="me-4 ms-2"><a  href="?page={{ properties.previous_page_number }}" class="d-flex align-items-center">Previous</a></li>
        {% endif %}

        {% for num in properties.paginator.page_range %}
            {% if num == properties.number %}
                <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
            {% elif num > properties.number|add:'-3' and num < properties.number|add:'3' %}
                <li><a href="?page={{ num }}">{{ num }}</a></li>

            {% endif %}
        {% endfor %}

        {% if properties.has_next %}
            <li class="ms-2"><a href="?page={{ properties.next_page_number }}" class="d-flex align-items-center">Next</a></li>
            <li class="ms-2"><a href="?page={{ properties.paginator.num_pages }}" class="d-flex align-items-center">Last</a></li>

        {% endif %}

    </ul>

    <!-- /.dashboard-body -->



{% endblock %}