{% extends 'dashboard/dashboard-base.html' %}
{% load static %}
{% load template_tags %}

{% block content %}

    <!-- 
=============================================
Dashboard Body
============================================== 
-->

    <h2 class="main-title d-block d-lg-none">Edit Offer</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="error-message">{{ property_form.non_field_errors }}</div>
        <div class="bg-white card-box border-20">
            <h4 class="dash-title-three">Overview</h4>
            <div class="dash-input-wrapper mb-30">
                <label for="">Offer Title*</label>
                {{ offer_form.title }}
                <div class="error-message">{{ offer_form.title.errors }}</div>
            </div>
            <!-- /.dash-input-wrapper -->
            <div class="dash-input-wrapper mb-30">
                <label for="">Offer Description</label>
                {{ offer_form.description }}
                <div class="error-message"> {{ offer_form.description.errors }}</div>

            </div>
            <!-- /.dash-input-wrapper -->
            <div class="row align-items-end">
                <div class="col-md-6">
                    <div class="dash-input-wrapper mb-30">
                        <label for="">Offer Status</label>
                        <select name="offer_status" class="nice-select">
                            {% for status in offer_form.offer_status %}
                                <option value="{{ status.id }}">{{ status }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>

                <div class="col-md-6">
                    <div class="dash-input-wrapper mb-0">
                        <label for="">Listed Price</label>
                        {{ offer_form.listed_price | add_class:"form-control" }}
                        <div class="error-message"> {{ offer_form.listed_price.errors }}</div>
                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>


                <!-- /.dash-input-wrapper -->
            </div>
        </div>
        <!-- /.card-box -->


        <div class="bg-white card-box border-20 mt-40 p-4">
            <h4 class="dash-title-three mb-4">Offer Photos</h4>
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="error-message">
                        {{ offer_form.featured_image.errors }}</div>
                    {{ offer_form.featured_image }}<br/><br/>

                    {% if offer.featured_image %}
                        <button type="submit" name="action" value="photo-submit" class="btn btn-success">
                            Update Featured Image</button>
                    {% else %}
                        <button type="submit" name="action" value="photo-submit" class="btn btn-success">
                            Upload Featured Image</button>
                    {% endif %}


                    {% if offer.featured_image %}
                        <p class="mt-3">Preview:</p>
                        <img id="featured_image_preview" src="{{ offer.featured_image.url }}" alt="Preview"
                             class="img-thumbnail" style="max-width: 100%; height: auto;">
                    {% else %}
                        <img id="featured_image_preview" src="" alt="Preview" class="img-thumbnail d-none" style="max-width: 100%; height: auto;">
                    {% endif %}
                    <br/>

                </div>
            </div>
        </div>


        <div class="bg-white card-box border-20 mt-40">
            <h4 class="dash-title-three">Listing Details</h4>
            <div class="row align-items-end">
                <div class="col-md-6">
                    <div class="dash-input-wrapper mb-30">
                        <select name="property_type" class="nice-select">
                            {% for type in  property_form.property_type %}
                                <option value="{{ type.id }}">{{ type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>
                <div class="col-md-6">
                    <div class="dash-input-wrapper mb-30">
                        <label for="">Property size</label>
                        {{ property_form.property_size }}
                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>

                <div class="col-md-6">
                    <div class="dash-input-wrapper mb-30">
                        <label for="">Bedrooms</label>
                        {{ property_form.bedrooms}}
                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>
                <div class="col-md-6">
                    <div class="dash-input-wrapper mb-30">
                        <label for="">Bathrooms</label>
                        {{ property_form.bathrooms }}
                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>

                <div class="col-md-6">
                    <div class="dash-input-wrapper mb-30">
                        <label for="">Building Year</label>
                        {{ property_form.year_of_built }}
                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>
                <div class="col-md-6">
                    <div class="dash-input-wrapper mb-30">
                        <label for="">Floor</label>
                        {{ property_form.floor }}
                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>
                <div class="col-12">
                    <div class="dash-input-wrapper">
                        <label for="">Notes</label>
                        {{ property_form.notes }}
                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>
            </div>
        </div>
        <!-- /.card-box -->

        <div class="bg-white card-box border-20 mt-40">
            <h4 class="dash-title-three">Address & Location</h4>
            <div class="row">
                <div class="col-12">
                    <div class="dash-input-wrapper mb-25">
                        <label for="">Address</label>
                        {{ property_form.address }}
                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>
                <div class="col-lg-6">
                    <div class="dash-input-wrapper mb-25">
                        <label for="">Country</label>
                        {{ property_form.country }}

                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>
                <div class="col-lg-6">
                    <div class="dash-input-wrapper mb-25">
                        <label for="">City</label>
                        {{ property_form.city }}

                    </div>
                    <!-- /.dash-input-wrapper -->
                </div>

                <!-- /.dash-input-wrapper -->
            </div>
        </div>

        <div class="bg-white card-box border-20 mt-40">
            <h4 class="dash-title-three">Offer Publication Status</h4>
            <div class="row align-items-end">
                <div class="col-md-6">
                    <div class="dash-input-wrapper mb-30">
                        <select name="is_published" id="id_is_published" class="form-control nice-select">

                            <option value="True"
                                    {% if offer_form.instance.is_published == 'True' %}selected{% endif %}>
                                Published
                            </option>

                            <option value="False"
                                    {% if offer_form.instance.is_published == 'False' %}selected{% endif %}>
                                Not Published
                            </option>
                        </select>
                    </div>
                </div>
                <!-- /.dash-input-wrapper -->
            </div>

        </div>

        <!-- /.card-box -->
        <div class="button-group d-inline-flex align-items-center mt-30">
            <button type="submit" class="dash-btn-two tran3s me-3">Edit Property</button>
            <a href="{% url 'dashboard_properties' %}" class="dash-cancel-btn tran3s">Cancel</a>
        </div>
    </form>

    <!-- /.dashboard-body -->


{% endblock %}