{% extends 'dashboard/dashboard-base.html' %}
{% load static %}
{% block content %}

<!-- 
=============================================
Dashboard Body
============================================== 
-->

    <h2 class="main-title d-block d-lg-none">Blog Comments</h2>
    <div class="d-sm-flex align-items-center justify-content-between mb-25">
        <div class="fs-16">Showing <span class="color-dark fw-500">{{ comments.start_index }}–{{ comments.end_index }}</span> of <span
                class="color-dark fw-500">{{ comments.paginator.count }}</span> results
        </div>
    </div>

    <div class="bg-white card-box p0 border-20">
        <div class="table-responsive pt-25 pb-25 pe-4 ps-4">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Author</th>
                    <th scope="col">Commented Post</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody class="border-0">
                {% for comment in comments %}
                    <tr>
                        <td>
                            <div class="d-lg-flex align-items-center position-relative">
                                {{ comment.created_at|date:"d-m-Y" }}
                            </div>
                        </td>
                        <td>{{ comment.content }}</td>
                        <td>{{ comment.author }}</td>
                        <td>
                            <div class="property-status"><a href="{{ comment.post.get_absolute_url }}">{{ comment.post | truncatewords:5 }}</a></div>
                        </td>
                        <td>
                            <div class="action-dots float-end">
                                <button class="action-btn dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    <span></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="{{ comment.post.get_absolute_url }}"><img src="{% static '/images/lazy.svg' %}"
                                            data-src="{% static '/dash/images/icon/icon_18.svg' %}"
                                            alt="" class="lazy-img"> View Post</a>
                                    </li>

                                    <li><a class="dropdown-item" href="{% url 'delete_comment' pk=comment.pk %}"><img src="{% static '/images/lazy.svg' %}"
                                            data-src="{% static '/dash/images/icon/icon_21.svg' %}"
                                            alt="" class="lazy-img">
                                        Delete</a></li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!-- /.table property-list-table -->
        </div>
    </div>
    <!-- /.card-box -->


    <ul class="pagination-one d-flex align-items-center justify-content-center style-none pt-40">
        {% if comments.has_previous %}
            <li class="ms-2"><a href="?page=1" class="d-flex align-items-center">First</a></li>

            <li class="me-4 ms-2"><a href="?page={{ comments.previous_page_number }}" class="d-flex align-items-center">Previous</a>
            </li>
        {% endif %}

        {% for num in comments.paginator.page_range %}
            {% if num == comments.number %}
                <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
            {% elif num > comments.number|add:'-3' and num < comments.number|add:'3' %}
                <li><a href="?page={{ num }}">{{ num }}</a></li>

            {% endif %}
        {% endfor %}

        {% if comments.has_next %}
            <li class="ms-2"><a href="?page={{ comments.next_page_number }}" class="d-flex align-items-center">Next</a></li>
            <li class="ms-2"><a href="?page={{ comments.paginator.num_pages }}" class="d-flex align-items-center">Last</a></li>

        {% endif %}

    </ul>
    <!-- /.dashboard-body -->


{% endblock %}