{% extends 'dashboard/dashboard-base.html' %}
{% load static %}
{% block content %}

    <!--
=============================================
Dashboard Body
==============================================
-->

    <h2 class="main-title d-block d-lg-none">Edit Blog Post</h2>
    <form action="" method="post" enctype="multipart/form-data">
        <div class="bg-white card-box border-20">
            <h4 class="dash-title-three">Edit Blog Post</h4>

            <div class="dash-input-wrapper mb-30">
                {{ form.as_p }}
                {% csrf_token %}
                {% if object.image.url %}
                    <div>
                        <label>Current Image:</label>
                        <img src="{{ object.image.url }}" alt="Post Image" style="max-width: 300px; height: auto;">
                    </div>
                {% endif %}


            </div>
        </div>

        <!-- /.card-box -->
        <div class="button-group d-inline-flex align-items-center mt-30">
            <button type="submit" class="dash-btn-two tran3s me-3">Edit Post</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><a href="javascript:window.history.back();">Cancel</a></button>
        </div>
    </form>
    <!-- /.dashboard-body -->


{% endblock %}