{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Fix and Flip, Real estate investment, Property buying, Property selling, Property 
    renovation, Real estate marketplace, Investment opportunities, FixToFlip platform">
    <meta name="description" content="FixToFlip is your ultimate platform for real estate investment, specializing in 
    property flipping and renovation. Discover profitable opportunities and manage your projects efficiently.">
    <meta property="og:site_name" content="FixToFlip">
    <meta property="og:url" content="https://fixtoflip.azurewebsites.net/">
    <meta property="og:type" content="website">
    {% if post.title %}
        <meta property="og:title" content="{{ post.title }}">
    {% else %}
        <meta property="og:title" content="FixToFlip - Real Estate Investment Platform for Property Flipping">
    {% endif %}
    <meta name="og:image" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#0D1A1C">
    <meta name="msapplication-navbutton-color" content="#0D1A1C">
    <meta name="apple-mobile-web-app-status-bar-style" content="#0D1A1C">
    {% if post.title %}
        <title>{{ post.title }} - FixToFlip</title>
    {% else %}
        <title>FixToFlip - Real Estate Investment & Property Flipping Platform</title>
    {% endif %}
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="56x50" href="{% static 'images/fav-icon/icon.png' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" media="all">
    <!-- Main style sheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="all">
    <!-- responsive style sheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" media="all">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window, document, 'script', 'dataLayer', 'GTM-KJH53M4C');</script>
    <!-- End Google Tag Manager -->
    <!-- Fix Internet Explorer ______________________________________-->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="{% static 'vendor/html5shiv.js' %}"></script>
    <script src="{% static 'vendor/respond.js' %}"></script>
    <![endif]-->
</head>

{% block content %}


{% endblock %}

{% include 'common/footer.html' %}

{% include 'common/login_modal.html' %}

<!-- Optional JavaScript _____________________________  -->

<!-- jQuery first, then Bootstrap JS -->
<!-- jQuery -->
<script src="{% static 'vendor/jquery.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- WOW js -->
<script src="{% static 'vendor/wow/wow.min.js' %}"></script>
<!-- Slick Slider -->
<script src="{% static 'vendor/slick/slick.min.js' %}"></script>
<!-- Fancybox -->
<script src="{% static 'vendor/fancybox/fancybox.umd.js' %}"></script>
<!-- Lazy -->
<script src="{% static 'vendor/jquery.lazy.min.js' %}"></script>
<!-- js Counter -->
<script src="{% static 'vendor/jquery.counterup.min.js' %}"></script>
<script src="{% static 'vendor/jquery.waypoints.min.js' %}"></script>
<!-- Nice Select -->
<script src="{% static 'vendor/nice-select/jquery.nice-select.min.js' %}"></script>
<!-- validator js -->
<script src="{% static 'vendor/validator.js' %}"></script>
<!-- isotop -->
<script  src="{% static 'vendor/isotope.pkgd.min.js' %}"></script>
<!-- Theme js -->
<script src="{% static 'js/theme.js' %}"></script>
</div>
</body>

</html>