{% extends 'dashboard/dashboard-base.html' %}
{% load static %}
{% block content %}

<!-- 
=============================================
Dashboard Body
============================================== 
-->

    <h2 class="main-title d-block d-lg-none">My Properties</h2>
    <div class="d-sm-flex align-items-center justify-content-between mb-25">
        <div class="fs-16">Showing <span class="color-dark fw-500">{{ posts.start_index }}–{{ posts.end_index }}</span> of <span
                    class="color-dark fw-500">{{ posts.paginator.count }}</span> results
        </div>
    </div>

    <form method="get">
        <div class="d-flex ms-auto xs-mt-30">
            <div class="short-filter d-flex align-items-center ms-sm-auto">
                <div class="fs-16 me-2">Sort by:</div>
                {{ filter.form.sort }}
                <button type="submit" class="btn btn-primary ms-2">Apply</button>
            </div>
        </div>
    </form>

    <div class="bg-white card-box p0 border-20">
        <div class="table-responsive pt-25 pb-25 pe-4 ps-4">
            <table class="table property-list-table">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Views</th>
                    <th scope="col">Comments</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody class="border-0">
                {% for post in posts %}
                    <tr>
                        <td>
                            <div class="d-lg-flex align-items-center position-relative">
                                <img src="{{ post.image.url }}" alt="" class="p-img">
                                <div class="ps-lg-4 md-pt-10">
                                    <a href="{% url 'blog_post_page' slug=post.slug %}"
                                       class="property-name tran3s color-dark fw-500 fs-20 stretched-link">{{ post.title }}</a>
                                    <div class="address">Created at: {{ post.created_at|date:"d-m-Y" }}</div>
                                </div>
                            </div>
                        </td>
                        <td>{{ post.created_at|date:"d-m-Y" }}</td>
                        <td>{{ post.comments.count }}</td>
                        <td>
                            <div class="property-status">Active</div>
                        </td>
                        <td>
                            <div class="action-dots float-end">
                                <button class="action-btn dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    <span></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="{% url 'blog_post_page' slug=post.slug %}"><img src="{% static '/images/lazy.svg' %}"
                                            data-src="{% static '/dash/images/icon/icon_18.svg' %}"
                                            alt="" class="lazy-img"> View</a>
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'edit_blogpost' slug=post.slug %}"><img src="{% static '/images/lazy.svg' %}"
                                            data-src="{% static '/dash/images/icon/icon_20.svg' %}"
                                            alt="" class="lazy-img">
                                        Edit</a></li>
                                    {% if request.user.is_superuser %}
                                        <li><a class="dropdown-item" href="{% url 'delete_blogpost' slug=post.slug %}" target="_self"><img src="{% static '/images/lazy.svg' %}"
                                                                   data-src="{% static '/dash/images/icon/icon_21.svg' %}"
                                                                   alt="" class="lazy-img">
                                            Delete</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!-- /.table property-list-table -->
        </div>
    </div>
    <!-- /.card-box -->


    <ul class="pagination-one d-flex align-items-center justify-content-center style-none pt-40">
        {% if posts.has_previous %}
            <li class="ms-2"><a href="?page=1" class="d-flex align-items-center">First</a></li>

            <li class="me-4 ms-2"><a href="?page={{ posts.previous_page_number }}" class="d-flex align-items-center">Previous</a>
            </li>
        {% endif %}

        {% for num in posts.paginator.page_range %}
            {% if num == posts.number %}
                <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
            {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
                <li><a href="?page={{ num }}">{{ num }}</a></li>

            {% endif %}
        {% endfor %}

        {% if posts.has_next %}
            <li class="ms-2"><a href="?page={{ posts.next_page_number }}" class="d-flex align-items-center">Next</a></li>
            <li class="ms-2"><a href="?page={{ posts.paginator.num_pages }}" class="d-flex align-items-center">Last</a></li>

        {% endif %}

    </ul>
    <!-- /.dashboard-body -->



{% endblock %}