{% extends 'dashboard/dashboard-base.html' %}
{% load static %}
{% block content %}

<!-- 
=============================================
Dashboard Body
============================================== 
-->

    <h2 class="main-title d-block d-lg-none">My Properties</h2>
    <div class="d-sm-flex align-items-center justify-content-between mb-25">
        <div class="fs-16">Showing <span class="color-dark fw-500">1–5</span> of <span
                class="color-dark fw-500">40</span> results
        </div>
        <div class="d-flex ms-auto xs-mt-30">
            <div class="short-filter d-flex align-items-center ms-sm-auto">
                <div class="fs-16 me-2">Short by:</div>
                <select class="nice-select">
                    <option value="0">Newest</option>
                    <option value="1">Best Seller</option>
                    <option value="2">Best Match</option>
                    <option value="3">Price Low</option>
                    <option value="4">Price High</option>
                </select>
            </div>
        </div>
    </div>

    <div class="bg-white card-box p0 border-20">
        <div class="table-responsive pt-25 pb-25 pe-4 ps-4">
            <table class="table property-list-table">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Date</th>
                    <th scope="col">View</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody class="border-0">
                <tr>
                    <td>
                        <div class="d-lg-flex align-items-center position-relative">
                            <img src="{% static 'images/img_01.jpg' %}" alt="" class="p-img">
                            <div class="ps-lg-4 md-pt-10">
                                <a href="#"
                                   class="property-name tran3s color-dark fw-500 fs-20 stretched-link">Galaxy
                                    Flat</a>
                                <div class="address">Mirpur 10, dhaka, BD</div>
                                <strong class="price color-dark">$32,800</strong>
                            </div>
                        </div>
                    </td>
                    <td>13 Jan, 2023</td>
                    <td>1210</td>
                    <td>
                        <div class="property-status">Active</div>
                    </td>
                    <td>
                        <div class="action-dots float-end">
                            <button class="action-btn dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                <span></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="{% url 'property_details' pk=1 %}"><img src="{% static '/dash/images/lazy.svg' %}"
                                        data-src="{% static '/dash/images/icon/icon_18.svg' %}"
                                        alt="" class="lazy-img"> View</a>
                                </li>
                                <li><a class="dropdown-item" href="#"><img src="{% static '/dash/images/lazy.svg' %}"
                                                                           data-src="{% static '/dash/images/icon/icon_20.svg' %}"
                                                                           alt="" class="lazy-img">
                                    Add expense</a></li>
                                <li><a class="dropdown-item" href="#"><img src="{% static '/dash/images/lazy.svg' %}"
                                                                           data-src="{% static '/dash/images/icon/icon_20.svg' %}"
                                                                           alt="" class="lazy-img"> Edit</a>
                                </li>
                                <li><a class="dropdown-item" href="#"><img src="{% static '/dash/images/lazy.svg' %}"
                                                                           data-src="{% static '/dash/images/icon/icon_21.svg' %}"
                                                                           alt="" class="lazy-img">
                                    Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="d-lg-flex align-items-center position-relative">
                            <img src="{% static 'images/img_02.jpg' %}" alt="" class="p-img">
                            <div class="ps-lg-4 md-pt-10">
                                <a href="#"
                                   class="property-name tran3s color-dark fw-500 fs-20 stretched-link">White
                                    House villa</a>
                                <div class="address">Ranchview, California, USA</div>
                                <strong class="price color-dark">$42,130</strong>
                            </div>
                        </div>
                    </td>
                    <td>09 Jan, 2023</td>
                    <td>0</td>
                    <td>
                        <div class="property-status pending">Pending</div>
                    </td>
                    <td>
                        <div class="action-dots float-end">
                            <button class="action-btn dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                <span></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#"><img src="{% static '/dash/images/lazy.svg' %}"
                                                                           data-src="{% static '/dash/images/icon/icon_18.svg' %}"
                                                                           alt="" class="lazy-img"> View</a>
                                </li>
                                <li><a class="dropdown-item" href="#"><img src="{% static '/dash/images/lazy.svg' %}"
                                                                           data-src="{% static '/dash/images/icon/icon_19.svg' %}"
                                                                           alt="" class="lazy-img">
                                    Share</a></li>
                                <li><a class="dropdown-item" href="#"><img src="{% static '/dash/images/lazy.svg' %}"
                                                                           data-src="{% static '/dash/images/icon/icon_20.svg' %}"
                                                                           alt="" class="lazy-img"> Edit</a>
                                </li>
                                <li><a class="dropdown-item" href="#"><img src="{% static '/dash/images/lazy.svg' %}"
                                                                           data-src="{% static '/dash/images/icon/icon_21.svg' %}"
                                                                           alt="" class="lazy-img">
                                    Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- /.table property-list-table -->
        </div>
    </div>
    <!-- /.card-box -->


    <ul class="pagination-one d-flex align-items-center justify-content-center style-none pt-40">
        <li><a href="#">1</a></li>
        <li class="active"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li>....</li>
        <li class="ms-2"><a href="#" class="d-flex align-items-center">Last <img
                src="{% static '/dash/images/icon/icon_46.svg' %}" alt="" class="ms-2"></a></li>
    </ul>
    </div>
    </div>
    <!-- /.dashboard-body -->



{% endblock %}