{% load static %}
{% load template_tags %}
{% verified_header request.user as is_verified %}
{% days_to_confirm request.user as days %}


<div class="dashboard-body">
    <div class="position-relative">
        <!-- ************************ Header **************************** -->
        <header class="dashboard-header">

            {% if not is_verified and not request.user.is_staff %}
                <div class="alert-wrapper text-center">
                    <p class="fs-16 m0 color-dark fw-500 text-white bg-danger">Your account is no confirmed. Please confirm your account in {{ days }} days or your account will be deleted!</p>
                </div>
            {% endif %}
            <div class="d-flex align-items-center justify-content-xxl-between order-1">
                <h4 class="mt-3 d-none d-lg-block">{{ header_title }}</h4>
                <button class="dash-mobile-nav-toggler d-block d-md-none me-auto">
                    <span></span>
                </button>
                {% if search_placeholder %}
                    <form class="search-form ms-auto mt-3" method="get">
                        <input type="text" name="q" placeholder="{{ search_placeholder | default:"Search here.." }}">
                        <button type="submit">
                            <img src="{% static 'images/lazy.svg' %}" data-src="{% static 'images/icon/icon_43.svg' %}" alt=""
                                 class="lazy-img m-auto">
                        </button>
                    </form>
                {% endif %}
                <div class="profile-notification position-relative dropdown-center ms-3 ms-md-10 me-4">

                </div>
                <div class="d-flex align-items-center mt-3 justify-content-xxl-between">
{#                    <div class="d-none d-md-block me-3 order-3">#}
{#                        <a href="{% url 'add_property' %}" class="btn-two"><span>Add Property</span> <i#}
{#                                class="fa-thin fa-arrow-up-right"></i></a>#}
{#                    </div>#}
{#                    <div class="d-none d-md-block me-3 order-4">#}
{#                        <a href="{% url 'add_credit' %}" class="btn-two"><span>Add Credit</span> <i#}
{#                                class="fa-thin fa-arrow-up-right"></i></a>#}
{#                    </div>#}
                    <div class="user-data position-relative order-5">
                        <button class="online position-relative rounded-circle" type="button"
                                id="profile-dropdown" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                aria-expanded="false">
                            {% if user.profile.profile_picture %}
                                <img src="{% static 'images/lazy.svg' %}" data-src="{{ user.profile.profile_picture.url }}"  alt="" class="lazy-img"
                                     style="width: 65px; height: 65px; object-fit: cover; border-radius: 50%;"/>
                            {% elif user.socialaccount_set.all.0.get_avatar_url %}
                                <img src="{% static 'images/lazy.svg' %}" data-src="{{ user.socialaccount_set.all.0.get_avatar_url }}"  alt="" class="lazy-img"
                                     style="width: 65px; height: 65px; object-fit: cover; border-radius: 50%;"/>
                            {% else %}
                                <img src="{% static 'images/lazy.svg' %}" data-src="{% static 'images/avatar_01.jpg' %}" alt="" class="lazy-img"
                                     style="width: 65px; height: 65px; object-fit: cover; border-radius: 50%;">
                            {% endif %}
                        </button>
                        <!-- /.user-avatar -->
                        <div class="user-name-data">
                            <ul class="dropdown-menu" aria-labelledby="profile-dropdown">
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" href="{% url 'profile_edit' request.user.pk %}"><img
                                            src="{% static 'images/lazy.svg' %}"
                                            data-src="{% static 'images/icon/icon_23.svg' %}" alt=""
                                            class="lazy-img"><span class="ms-2 ps-1">Profile</span></a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" href="{% url 'delete_account' request.user.pk %}" data-bs-toggle="modal"
                                       data-bs-target="#deleteModal"><img src="{% static 'images/lazy.svg' %}"
                                                                          data-src="{% static 'images/icon/icon_25.svg' %}" alt=""
                                                                          class="lazy-img"><span class="ms-2 ps-1">Delete Account</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.user-data -->
                </div>

            </div>
        </header>
        <!-- End Header -->