{% extends 'dashboard/dashboard-base.html' %}
{% load static %}
{% block content %}




    <!-- 
=============================================
Dashboard Body
============================================== 
-->

    <h2 class="main-title d-block d-lg-none">Dashboard</h2>
    <div class="bg-white border-20">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="dash-card-one bg-white border-30 position-relative mb-15 skew-none">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <div class="icon rounded-circle d-flex align-items-center justify-content-center order-sm-1">
                            <img src="{% static '/images/lazy.svg' %}" data-src="{% static '/dash/images/icon/icon_12.svg' %}" alt=""
                                 class="lazy-img"></div>
                        <div class="order-sm-0">
                            <span>Total Properties</span>
                            <div class="value fw-500">{{ all_properties.count | stringformat:"02d" }}</div>
                        </div>
                    </div>
                </div>
                <!-- /.dash-card-one -->
            </div>
            <div class="col-lg-3 col-6">
                <div class="dash-card-one bg-white border-30 position-relative mb-15">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <div class="icon rounded-circle d-flex align-items-center justify-content-center order-sm-1">
                            <img src="{% static '/images/lazy.svg' %}" data-src="{% static '/dash/images/icon/icon_13.svg' %}" alt=""
                                 class="lazy-img"></div>
                        <div class="order-sm-0">
                            <span>Under Repair</span>
                            <div class="value fw-500">{{ properties_in_repair.count | stringformat:"02d" }}</div>
                        </div>
                    </div>
                </div>
                <!-- /.dash-card-one -->
            </div>
            <div class="col-lg-3 col-6">
                <div class="dash-card-one bg-white border-30 position-relative mb-15">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <div class="icon rounded-circle d-flex align-items-center justify-content-center order-sm-1">
                            <img src="{% static '/images/lazy.svg' %}" data-src="{% static '/dash/images/icon/icon_14.svg' %}" alt=""
                                 class="lazy-img"></div>
                        <div class="order-sm-0">
                            <span>Repaired Properties</span>
                            <div class="value fw-500">{{ repaired_properties.count | stringformat:"02d" }}</div>
                        </div>
                    </div>
                </div>
                <!-- /.dash-card-one -->
            </div>
            <div class="col-lg-3 col-6">
                <div class="dash-card-one bg-white border-30 position-relative mb-15">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <div class="icon rounded-circle d-flex align-items-center justify-content-center order-sm-1">
                            <img src="{% static '/images/lazy.svg' %}" data-src="{% static '/dash/images/icon/icon_15.svg' %}" alt=""
                                 class="lazy-img"></div>
                        <div class="order-sm-0">
                            <span>Sold Properties</span>
                            <div class="value fw-500">{{ properties_sold.count | stringformat:"02d" }}</div>
                        </div>
                    </div>
                </div>
                <!-- /.dash-card-one -->
            </div>
        </div>
    </div>

    <div class="row gx-xl-5 d-flex pt-15 lg-pt-10">
        <div class="col-xl-5 col-lg-4 d-flex flex-column">
            <div class="user-activity-chart bg-white border-20 mt-30 h-100">
                <div class="d-flex align-items-center justify-content-between plr">
                    <h5 class="dash-title-two">Property Chart</h5>
                    <div class="short-filter d-flex align-items-center">
                    </div>
                </div>
                <div class="plr mt-50">
                    <div class="chart-wrapper">
                        <canvas id="property-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-7 col-lg-6 d-flex flex-column">
            <div class="user-activity-chart bg-white border-20 mt-30 h-100">
                <div class="d-flex align-items-center justify-content-between plr">
                    <h5 class="dash-title-two">Expenses Chart</h5>
                    <div class="short-filter d-flex align-items-center">
                        <script src="{% static 'js/expenses-chart.js' %}"></script>
                    </div>

                    <form id="date-filter-form" class="mb-3 row gx-3 align-items-center">
                        <div class="col-auto">
                            <label for="start-date" class="form-label">Start Date:</label>
                            <input type="date" id="start-date" name="start-date" class="form-control">
                        </div>
                        <div class="col-auto">
                            <label for="end-date" class="form-label">End Date:</label>
                            <input type="date" id="end-date" name="end-date" class="form-control">
                        </div>
                        <div class="col-auto">
                            <button type="button" id="filter-button" class="btn btn-primary mt-4">Filter</button>
                            <button type="button" id="reset-button" class="btn btn-primary mt-4">Reset</button>


                        </div>
                    </form>
                </div>
                <div class="plr mt-50">
                    <div class="chart-wrapper">
                        <canvas id="property-expenses-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /.dashboard-body -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

