{% load static %}

<div class="dashboard-body">
    <div class="position-relative">
        <!-- ************************ Header **************************** -->
        <header class="dashboard-header">
            <div class="d-flex align-items-center justify-content-xxl-between order-1">
                <h3 class="m0 d-none d-lg-block">{{ header_title }}</h3>
                <button class="dash-mobile-nav-toggler d-block d-md-none me-auto">
                    <span></span>
                </button>
{#                <form action="#" class="search-form ms-auto">#}
{#                    <input type="text" placeholder="Search here..">#}
{#                    <button><img src="{% static 'images/lazy.svg' %}" data-src="{% static 'images/icon/icon_43.svg' %}" alt=""#}
{#                                 class="lazy-img m-auto"></button>#}
{#                </form>#}
                <div class="profile-notification position-relative dropdown-center ms-3 ms-md-10 me-4">
{#                    <button class="noti-btn dropdown-toggle" type="button" id="notification-dropdown"#}
{#                            data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">#}
{#                        <img src="{% static 'images/lazy.svg' %}" data-src="{% static 'images/icon/icon_11.svg' %}" alt="" class="lazy-img">#}
{#                        <div class="badge-pill"></div>#}
{#                    </button>#}
{#                    <ul class="dropdown-menu" aria-labelledby="notification-dropdown">#}
{#                        <li>#}
{#                            <h4>Notification</h4>#}
{#                            <ul class="style-none notify-list">#}
{#                                <li class="d-flex align-items-center unread">#}
{#                                    <img src="{% static 'images/lazy.svg' %}" data-src="{% static 'images/icon/icon_38.svg' %}" alt=""#}
{#                                         class="lazy-img icon">#}
{#                                    <div class="flex-fill ps-2">#}
{#                                        <h6>Your meeting is cancelled</h6>#}
{#                                        <span class="time">3 days ago</span>#}
{#                                    </div>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </li>#}
{#                    </ul>#}
                </div>
                            <div class="d-flex align-items-center mt-3 justify-content-between justify-content-xxl-start order-2">
                                <div class="d-none d-md-block me-3 order-3">
                    <a href="{% url 'add_property' %}" class="btn-two"><span>Add Property</span> <i
                            class="fa-thin fa-arrow-up-right"></i></a>
                </div>
                <div class="d-none d-md-block me-3 order-4">
                    <a href="{% url 'add_credit' %}" class="btn-two"><span>Add Credit</span> <i
                            class="fa-thin fa-arrow-up-right"></i></a>
         </div>
{##}
                <div class="user-data position-relative order-5">
                    <button class="user-avatar online position-relative rounded-circle dropdown-toggle" type="button"
                            id="profile-dropdown" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                            aria-expanded="false">
                        <img src="{% static 'images/lazy.svg' %}" data-src="{% static 'images/avatar_01.jpg' %}" alt="" class="lazy-img">
                    </button>
                    <!-- /.user-avatar -->
                    <div class="user-name-data">
                        <ul class="dropdown-menu" aria-labelledby="profile-dropdown">
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="{% url 'profile_edit' request.user.pk %}"><img
                                        src="{% static 'images/lazy.svg' %}"
                                        data-src="{% static 'images/icon/icon_23.svg' %}" alt=""
                                        class="lazy-img"><span class="ms-2 ps-1">Profile</span></a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="{% url 'delete_account' request.user.pk %}" data-bs-toggle="modal"
                                   data-bs-target="#deleteModal"><img src="{% static 'images/lazy.svg' %}"
                                                                      data-src="{% static 'images/icon/icon_25.svg' %}" alt=""
                                                                      class="lazy-img"><span class="ms-2 ps-1">Delete Account</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.user-data -->
            </div>

            </div>
        </header>
        <!-- End Header -->