{% extends 'dashboard/dashboard-base.html' %}

{% block content %}
    <form action="" method="post" xmlns="http://www.w3.org/1999/html">
        <p>
            You are about to delete property <b>{{ object.property_name }}</b>
            bought on <b>{{ object.bought_date }}</b></p>

        <p>Are you sure you want to delete this post?</p>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            <a href="javascript:window.history.back();">NO</a></button>
    </form>
{% endblock %}