{% extends 'dashboard/dashboard-base.html' %}
{% load static %}
{% block content %}

<!-- 
=============================================
Dashboard Body
============================================== 
-->

    <h2 class="main-title d-block d-lg-none">My Properties</h2>
    <div class="d-sm-flex align-items-center justify-content-between mb-25">
        <div class="fs-16">Showing <span
                class="color-dark fw-500">{{ expenses.start_index }}–{{ expenses.end_index }}</span> of <span
                class="color-dark fw-500">{{ expenses.paginator.count }}</span> results
        </div>
        <div class="d-flex ms-auto xs-mt-30">
            <div class="short-filter d-flex align-items-center ms-sm-auto">
                <div class="fs-16 me-2">Short by:</div>
                <select class="nice-select">
                    <option value="0">Newest</option>
                    <option value="1">Best Seller</option>
                    <option value="2">Best Match</option>
                    <option value="3">Price Low</option>
                    <option value="4">Price High</option>
                </select>
            </div>
        </div>
    </div>

    <div class="bg-white card-box p0 border-20">
        <div class="table-responsive pt-25 pb-25 pe-4 ps-4">
            <table class="table property-list-table">
                <thead>
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col">Category</th>
                    <th scope="col">Property</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody class="border-0">
                {% for expense in expenses %}
                    <tr>
                        <td>
                            <div class="d-lg-flex align-items-center position-relative">

                                <div class="ps-lg-4 md-pt-10">
                                    <a href="{% url 'add_expense' pk=expense.pk %}"
                                       class="property-name tran3s color-dark fw-500 fs-20 stretched-link">{{ expense.property }}</a>
                                    <div class="address">Expenses per sqm: {% if expense.expenses_per_sqm %}{{ expense.expenses_per_sqm }}{% else %}N/A{% endif %}</div>
                                    <strong class="price color-dark">Total
                                        expenses: {{ expense.expense_total }}</strong>
                                </div>
                            </div>
                        </td>
                        <td>{{ expense.last_expense_date }}</td>
                        <td>{{ expense.remaining_expected_expenses }}</td>
                        <td>
                            <div class="property-status">Active</div>
                        </td>
                        <td>
                            <div class="action-dots float-end">
                                <button class="action-btn dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    <span></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="{% url 'add_expense' pk=expense.pk %}"><img src="{% static '/dash/images/lazy.svg' %}"
                                            data-src="{% static '/dash/images/icon/icon_20.svg' %}"
                                            alt="" class="lazy-img">View/Edit</a>
                                    </li>

                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <!-- /.table property-list-table -->
        </div>
    </div>
    <!-- /.card-box -->


    <ul class="pagination-one d-flex align-items-center justify-content-center style-none pt-40">
        {% if expenses.has_previous %}
            <li class="ms-2"><a href="?page=1" class="d-flex align-items-center">First</a></li>

            <li class="me-4 ms-2"><a  href="?page={{ expenses.previous_page_number }}" class="d-flex align-items-center">Previous</a></li>
        {% endif %}

        {% for num in expenses.paginator.page_range %}
            {% if num == expenses.number %}
                <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
            {% elif num > expenses.number|add:'-3' and num < expenses.number|add:'3' %}
                <li><a href="?page={{ num }}">{{ num }}</a></li>

            {% endif %}
        {% endfor %}

        {% if expenses.has_next %}
            <li class="ms-2"><a href="?page={{ expenses.next_page_number }}" class="d-flex align-items-center">Next</a></li>
            <li class="ms-2"><a href="?page={{ expenses.paginator.num_pages }}" class="d-flex align-items-center">Last</a></li>

        {% endif %}

    </ul>



{% endblock %}