{% extends 'dashboard/dashboard-base.html' %}
{% load static %}
{% block content %}
    <!--
=====================================================
Property Listing Details
=====================================================
-->
    <div class="listing-details-one theme-details-one bg-pink pt-180 lg-pt-150 pb-150 xl-pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="property-titlee">{{ property }} Details</h3><br>
                </div>
                <!-- /.media-gallery -->
                <div class="row">
                    <div class="col-xl-8">
                        <div class="bg-white shadow4 border-20">
                            <div class="property-overview p-40">
                                <h3 class="mb-20">Overview</h3>
                                <p class="fs-20 lh-lg">{{ property }} is located
                                    on {{ property.address | default:"N/A" }}, {{ property.city | default:"N/A" }},
                                    {{ property.country | default:"N/A" }}
                                <p>

                                <div class="property-feature-list mt-30">
                                    <ul class="style-none d-flex flex-wrap align-items-center justify-content-center">
                                        <li style="flex-basis: 30%; margin: 10px;">
                                            <p><span class="fs-20 color-dark">Bought Price: </span></p>
                                            <p><span class="fs-22 color-dark">{{ property.property_financial_information.values_list.0.7 }} {{ property.property_financial_information.values_list.0.8 }} </span>
                                            </p>
                                        </li>
                                        <li style="flex-basis: 30%; margin: 10px;">
                                            <p><span class="fs-20 color-dark">Actual Expenses: </span></p>

                                            <p><span class="fs-22 color-dark">{{ property.property_expenses.values_list.0.18 }} {{ property.property_expenses.values_list.0.17 }}</span></p>
                                        </li>
                                        <li style="flex-basis: 30%; margin: 10px;">
                                            <p><span class="fs-20 color-dark">Bought Date: </span></p>

                                            <p><span class="fs-22 color-dark">{{ property.bought_date | date:"d-m-Y" | default:"N/A" }}</span></p>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.property-feature-list -->
                            </div>
                            <!-- /.property-overview -->
                            <div class="property-feature-accordion border-top p-40">
                                <h3 class="mb-20">Property Expenses</h3>
{#                                <p class="fs-20 lh-lg">#}
{#                                <ul>#}
{#                                    <li>The biggest expenses for this#}
{#                                        property: {{ expenses.biggest_expense.0 | capfirst }}#}
{#                                        for {{ expenses.biggest_expense.1 }}</li>#}
{#                                    <li>Last added expense for this property: {{ expenses.last_expense_date }}</li>#}
{#                                </ul>#}
{#                                </p>#}

                                <h5 class="pt-30 pb-25">Renovation Expenses:</h5>
                                <div class="feature-list-two">
                                    <ul class="style-none d-flex flex-wrap justify-content-between">
                                        <li><span>Plumbing Repair: </span> <span
                                                class="fw-500 color-dark">{{ expenses.plumbing_repair_expenses}}</span></li>
                                        <li><span>Electrical Repair: </span> <span
                                                class="fw-500 color-dark">{{ expenses.electrical_repair_expenses }}</span></li>
                                        <li><span>Floors Repair: </span> <span
                                                class="fw-500 color-dark">{{ expenses.floors_repair_expenses }}</span></li>

                                        <li><span>Wall Repair: </span> <span
                                                class="fw-500 color-dark">{{ expenses.walls_repair_expenses}}</span>
                                        </li>
                                        <li><span>Bathroom Repair: </span> <span
                                                class="fw-500 color-dark">{{ expenses.bathroom_repair_expenses }}</span></li>

                                        <li><span>Kitchen Repair: </span> <span
                                                class="fw-500 color-dark">{{ expenses.kitchen_repair_expenses }}</span></li>


                                        <li><span>Windows and Doors Repair: </span> <span
                                                class="fw-500 color-dark">{{ expenses.windows_doors_repair_expenses }}</span></li>

                                        <li><span>Facade/Balcony Repair: </span> <span
                                                class="fw-500 color-dark">{{ expenses.facade_repair_expenses }}</span></li>
                                        <li><span>Roof Repair: </span> <span
                                                class="fw-500 color-dark">{{ expenses.roof_repair_expenses }}</span></li>

                                        <li><span>Other Repair Expenses: </span> <span
                                                class="fw-500 color-dark">{{ expenses.other_repair_expenses }}</span></li>


                                    </ul>
                                </div>
                                <h5 class="pt-30 pb-25">Other Expenses:</h5>
                                <div class="feature-list-two">
                                    <ul class="style-none d-flex flex-wrap justify-content-between">
                                        <li><span>Notary Taxes: </span> <span
                                                class="fw-500 color-dark">{{ expenses.notary_taxes }}</span></li>


                                        <li><span>Municipality Taxes: </span> <span
                                                class="fw-500 color-dark">{{ expenses.municipality_taxes }}</span></li>

                                        <li><span>Utilities: </span> <span
                                                class="fw-500 color-dark">{{ expenses.utilities }}</span></li>


                                        <li><span>Advertising: </span>
                                            <span class="fw-500 color-dark">{{ expenses.advertising }}</span></li>

                                        <li><span>Administrative Fees: </span> <span
                                                class="fw-500 color-dark">{{ expenses.administrative_fees }}</span></li>

                                        <li><span>Insurance: </span> <span
                                                class="fw-500 color-dark">{{ expenses.insurance }}</span></li>
                                        <li><span>Other Expenses: </span> <span
                                                class="fw-500 color-dark">{{ expenses.other_expenses }}</span>
                                        </li>
                                        <li><span>Profit Tax: </span> <span
                                                class="fw-500 color-dark">{{ expenses.profit_tax }}</span>
                                        </li>

                                    </ul>
                                </div>
                                <!-- /.feature-list-two -->
                            </div>
                            <!-- /.property-feature-accordion -->


                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-8 me-auto ms-auto">
                        <div class="theme-sidebar-one ms-xl-5 lg-mt-80">

                            <div class="tour-schedule bg-white border-20 p-30 mb-40">
                                <h5 class="mb-40">Add Expense</h5>
                                <form action="#" method="post">
                                    {% csrf_token %}
                                    {{ form }}
                                    {{ form.errors }}
                                    <br>
                                    <div class="input-box-three mb-25"><!-- /.input-box-three -->
                                        <button class="btn-nine text-uppercase rounded-3 w-100 mb-10">Add Expense
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.theme-sidebar-one -->
                </div>
            </div>
        </div>
    </div>

    <!-- /.listing-details-one -->


{% endblock %}